

a:hover{

    background: yellow;
    
    color:black;
    
    }





    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 35px;   /* Height of the footer */
        background: ""#000"";
    }